<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/homepage.css') }}">

</head>
<section>
    <!--for demo wrap-->
    <h1>Games and Sports Council, IIT Kanpur</h1>
    <h2>{{heading}}</h2>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Ranking</th>
                    <th>Name</th>
                    <th>Distance</th>
                    <th>Trips</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">

        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                {{data}}
                <tr>
                    <th>1</th>
                    <td>Amrendra kumar</td>
                    <td>94.05</td>
                    <td>14</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Garvit Arora</td>
                    <td>92.01</td>
                    <td>4</td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>Patnana V Manikanta</td>
                    <td>85.02</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>Mohit Patle</td>
                    <td>67.07</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th>13</th>
                    <td>Reuben Mendonsa</td>
                    <td>62.64</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th>12</th>
                    <td>Ravi Kiran</td>
                    <td>58.94</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Harmanjot Singh</td>
                    <td>48.53</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>23</th>
                    <td>dinesh mahala</td>
                    <td>47.06</td>
                    <td>4</td>
                </tr>
                <tr>
                    <th>22</th>
                    <td>Vijaianand S K</td>
                    <td>38.60</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th>18</th>
                    <td>Shweta Vishwakarma</td>
                    <td>35.25</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th>11</th>
                    <td>RC R</td>
                    <td>28.69</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>RANGESH P</td>
                    <td>25.16</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th>21</th>
                    <td>Utsav Singh</td>
                    <td>16.73</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Navin Kumar</td>
                    <td>12.16</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Md Hashim</td>
                    <td>12.02</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>0</th>
                    <td>Abbas Khan</td>
                    <td>9.23</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th>17</th>
                    <td>Shubham Keshri</td>
                    <td>8.64</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Mohit Mudgal</td>
                    <td>7.23</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th>14</th>
                    <td>Sahil Singh</td>
                    <td>5.81</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th>15</th>
                    <td>Shambhavi Dube</td>
                    <td>4.87</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th>16</th>
                    <td>Sharib Athar</td>
                    <td>1.50</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th>20</th>
                    <td>Suresh Gurjar</td>
                    <td>1.42</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th>24</th>
                    <td>garima giri</td>
                    <td>1.08</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Nachiket Gokhale</td>
                    <td>0.92</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th>19</th>
                    <td>Suman Kumar Maharana</td>
                    <td>0.01</td>
                    <td>1</td>
                </tr>

                

            </tbody>
        </table>
    </div>
</section>


<!-- follow me template -->
<div class="made-with-love">
    Made with
    <i>♥</i> by
    <a target="_blank" href="https://github.com/Sahilsingh0808">Sahil Singh</a>
</div>

</html>